.container{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.title{
    font-size: 28px;
    margin-bottom: 20px;
    align-items: center; /* by default for vertical, but if flex-direction is column, then for horizontal */
    text-align: center;
}

.chat-box{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
}

.message{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.userMessage{
    background-color: #d1e7ff;
    align-self: flex-end;
}

.aiMessage{
    background-color: #e2e2e2;
    align-self: flex-start;
}

.input-row{
    display: flex;
    margin-top: 10px;
    width: 80vw;
}

.input{
    float: 1;
    padding: 10px;
}

.button{
    padding: 10px;
    margin-left: 10px;
}